apiVersion: 1
providers:
  - name: AAP-Metrics
    folder: AAP
    type: file
    options:
      # Path where our aap-metrics.json file is saved
      path:
        /etc/grafana/provisioning/dashboards/AAP